

.journey-details{
    padding: 30px 40px;
    width: 48%;
    max-width: 48%;
    background: #ffffff;
  margin-bottom: 45px;
    text-align: left;
    box-sizing: border-box;
   border: 1px solid black;
    font-family: "Montserrat", sans-serif;
}
.journey-details h1{
    margin-top: 0;
    font-weight: 200;
}
.txt-b{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
}
.txt-b label{
    display: block;
    text-align: left;
    color:  #3333;
    text-transform: uppercase;
    font-size 4px;

}
.txt-b input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
#select{
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
.anchor-tags{
    display: flex;
    width: 100%;
  
    padding: 0 10px;
    position: relative;
}
.select-tag select{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    
}
.next-tag a{
   
    width: 100%;
   
}

.topic{
    display: flex;
}
.payslip{
    width: 48%;
    border: 1px solid black;
    text-align: center;
}


.main-container{
    border: 1px solid black;
    width: 48%;
    background-color: white;
    border-radius: 5px;
    
    
}
.box-size{
    width: 93.5%;
    height: 3.5cm;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    margin: 10px 10px 10px 10px;
    display: flex;
    padding: 0px 0px 0px 20px;
    line-height: 1;
    max-height: 5cm;
}
h5{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #494a43;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}
img{
    width: 188px;
    height: 72px;
}
.inner-box2{
    text-align: justify;
    padding-right:20px;
    padding-left: 10px;
    
}
.inner-box1{
    text-align: left;
    padding-top: 1cm;
}
.pgh{
    font-family: Steagal, Arial, Helvetica, sans-serif;
    color: #1d1c1c ;
    width: 300px;
}
.btn{
    display: flex;
  
}
.pos{
    margin-left: 3.1cm;
    margin-top: 0.4cm;
}
.p1{
    margin-bottom: -1cm;
    text-decoration: none;
    color:  #494a43;
    font-size: 18px;
    font-weight: bold;
}
.select-btn{
    text-decoration: none;
}


.payslip button{
    letter-spacing: 1px;
    padding: 14.5px;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: none;
}